@page "/AddJoke";

<PageTitle>AddJoke</PageTitle>
@attribute [StreamRendering]
@rendermode InteractiveServer

@inject HttpClient httpClient;
<h3>AddJoke</h3>
<style>
    p {
        font-size: 16px;
        margin: 5px;
    }
    label {
        font: bold;
        font-size: 18px;
        margin: 5px;
        line-height: 1.5;
    }
    button {
        color: black;
        font: normal 16px;
        border: solid black 1px;
        border-radius: 15px;
        background-color: darkgray;
        margin-left: 3px;
        margin-top: 10px;
        width: 100px;
        height: 50px;
    }
    #Joketext {
        width: 600px;
        height: 100px;
        margin: 10px;
    }
    #Jokename {
        margin: 10px;
    }

    button:hover {
        background-color: dimgray;
    }

    button:active {
        background-color: gray;
    }

    @@media screen and (max-width: 500px)
    {
        h3 {
            text-align: center;
        }
        #Joketext {
            width: 200px;
            height: 200px;
        }
        #AddForm {
            text-align: center;
        }
        #Content {
            display: inline-block;
            text-align: left;
        }
        p {
            text-align: center;
        }
    }
</style>

<div id="AddForm">
    <div id="Content">
        <form method="post" @onsubmit=OnSubmit @formname="AddDbJoke">
            <AntiforgeryToken />
            <label for="Jokename">Name</label>
            <br />
            <InputText id="Jokename" @bind-Value="theJoke.Jokename" placeholder="Enter name"></InputText>
            <br />
            <label for="Joketext">Joke</label>
            <br />
            <InputTextArea id="Joketext" @bind-Value="theJoke.Joketext" placeholder="Enter joke"></InputTextArea>
            <br />
            <button type="submit">AddJoke</button>
        </form>
    </div>
</div>
@if(Added) {
   <p>Joke is on its way</p> 
}

@code {
    [SupplyParameterFromForm]
    public DbJoke theJoke { get; set; }

    public bool Added { get; set; }
    protected override void OnInitialized()
    {
        theJoke = new();
        Added = false;
    }
    private async Task OnSubmit()
    {
        await httpClient.PostAsJsonAsync("/Joke/AddJoke", theJoke);
        Added = true;
    }

    public partial class DbJoke
    {
        public int Id { get; set; }
        public string? Jokename { get; set; }
        public string? Joketext { get; set; }
    }
}
