@page "/Joke";
@attribute [StreamRendering]
@inject HttpClient httpClient;
<h3>Joke</h3>

<p>Id</p><input @bind=inputValue type="number"/><button @onclick=GetJoke>GetJoke</button>
<p>@result</p>

@code {
    private int Id = 0;
    private int inputValue
    {
        get => Id;
        set
        {
            Id = value;
        }
    }
    
    public async Task GetJoke()
    {
        await httpClient.GetAsync($"/Joke/GetJoke/{Id}");
    }
}
